# Python (Backend)
backend/venv/
backend/downloads/*
backend/__pycache__/
*.pyc

# Node / Next.js (Frontend)
frontend/node_modules/
frontend/.next/
frontend/out/

# Capacitor iOS
frontend/ios/App/Pods/
frontend/ios/App/build/
frontend/ios/App/output/
frontend/ios/App/App.xcworkspace/xcuserdata
frontend/ios/App/App.xcodeproj/xcuserdata

# Capacitor Android
frontend/android/.gradle/
frontend/android/build/

# Varios
.env
.env.local
.DS_Store